.header-bg {
  background-image: url('../assets/oreg_tolgy_blurred.png');
  background-position: center;
  background-size: cover;
  min-height: 600px;
}

.f-wedding {
  font-family: 'Scriptina', sans-serif;
}

.color-wedding {
  color: antiquewhite;
}

.fs-0 {
  font-size: 5rem;
}